<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Item Listings
  </div>

  <ul class="list-group list-group-flush">
    <% @user.item_listings.each do |listing| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/listings/<%= listing.id %>">
          <%= listing %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
