<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Listings

    <a data-toggle="collapse" href="#user_listings_new_form">
      Add listing
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.listings.each do |listing| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to listing, listing %>
        <!-- Show link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_listings_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
