<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Conversations
  </div>

  <ul class="list-group list-group-flush">
    <% @user.conversations.each do |message| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/messages/<%= message.id %>">
          <%= message %>
        </a>
        <!-- Show link end -->

      </li>
    <% end %>

  </ul>
</div>
